S3method(coef,IBGS)
S3method(fitted,IBGS)
S3method(plot,IBGS)
S3method(predict,IBGS)
S3method(print,IBGS)
S3method(print,summary.IBGS)
S3method(summary,IBGS)
export(coxGibbs)
export(coxIBGS)
export(glmGibbs)
export(glmIBGS)
export(plotIchart)
export(plotModelFreq)
export(plotVarProb)
export(rlmGibbs)
export(rlmIBGS)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,barplot)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,rect)
importFrom(graphics,segments)
importFrom(graphics,text)
importFrom(stats,fitted)
importFrom(stats,optimize)
importFrom(stats,predict)
importFrom(stats,sd)
useDynLib(IBGS, .registration = TRUE)
